
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11000;">
    <div *ngFor ="let toast of toasts"[ngClass]="getToastClass(toast.type)"role ="alert" aria-live="assertive">
        <div class="toast-header">
            <i [ngClass]="getIcon(toast.type)" class="me-2"></i>
            <strong class="me-auto">{{toast.type |titlecase}}</strong>
            <button type="button" class="btn-close" (click)="remove(toast.id)" aria-label="close"></button>
        </div>
        <div class="toast-body">
            {{toast.message}}
        </div>
    </div>
</div>